.goBackButton {
  background: none;
  border: none;
  color: #0D28C2;
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-weight: 500;
  padding: 0.3em 0.7em;
  border-radius: 6px;
  transition: background 0.2s;
}


.icon {
  font-size: 1.3em;
  line-height: 1;
}