.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   height: 5vw;
   background-color: #0d28c2;
   color: white;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
   position: absolute;
   top: 0;
   left: 0;
   width: 6vw;  
   height: 4vw;  
   object-fit: contain; 
   margin: 10px;
}
