.button{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
    
}

.text {
    font-size: 	19px;
    color: #696E77;
    margin: 0;
}

.arrow{
    font-size: 	19px;
    color: #696E77;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.button:hover .arrow{
    transform: translateX(5px);
    color: #333;
}